.current {
    display: block;
}

.steps{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2.5rem;
    list-style: none;
    padding: 0;
}

.steps li a{
    color: var(--white);
    text-decoration: none;
}

.steps li a{
    background: transparent;
    padding: 0.75rem;
    border: 2px solid var(--white);
    border-radius: 0.75rem;
    color: var(--white);
    font-weight: 600;
    transition: 300ms;
}

.steps li a:hover{
    background: var(--green);
}


.steps li.current a {
    background: var(--green);
    padding: 0.75rem;
    border: 2px solid var(--white);
    border-radius: 0.75rem;
    color: var(--white);
    font-weight: 600;
}


.rulesContent {
    display: none;
    margin-top: 2.5rem;
}

.rulesContent .contentStep {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
}

.rulesContent .contentStep .infoRules {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    max-width: 20rem;
}

.rulesContent .contentStep img {
    max-width: 15em;
    border-radius: 2rem;
    aspect-ratio: unset;
}

.visible{
    display: block;
}


.underline:after{
    content: " ";
    display: block;
    margin-top: 0.5rem;
    width: 40%;
    position: absolute;
    left: calc(30% - 5px);
    border-bottom: 3px solid var(--greenTxt);
}




/* BREAKPOINTS */

@media(min-width: 46.875em) {

    /* info naast de tekst*/
    .rulesContent .contentStep {
      flex-direction: row;
    }
}
